test.pdf
test1.pdf
server_output.log
test_separators.pdf
.env
debug_cnn/
corpus.txt
training_data.csv
testing_data.csv
training_data_1.csv
testing_data_1.csv
misclassified_rows.txt
example.csv
merged.txt
merged.pdf
before_norm.png
after_norm.png
example.hocr
example.pdf
__pycache__
.venv
**/__pycache__/
__pycache__
before.png
after.png
all-files.txt
